#map-canvas { height: inherit; margin-left: auto; margin-right: auto; padding: 0; }
.map-container { display: block; height: 100vh; width: 100%; padding-top: 50px; }
div.burger-info-window, #burger-tab { max-width: 320px; overflow-y: auto; }
table.infowindow-table { display: table; table-layout: fixed; border: 1px #ddd; border-style: hidden solid solid; }
div.burger-wrapper { display: table-cell; }
img.burger-image { max-width: 100%; max-height: 100%; min-width: 120px; min-height: 173px; }
.table tbody>tr>td.button-link { vertical-align: middle; text-align: center; }
.bordered-cell { border: 1px #ddd; border-style: solid }
p.lead, h4 { text-align: center; }
.progress { margin-bottom: 10px; }
.row { margin-top: 10px; }
#loading-text { color: #9d9d9d; text-align: right; font-height: 15px; }
.modal-dialog-center, .modal-dialog { margin: 0; position: absolute; top: 50%; left: 50%; }
